* {
    margin: 0;
    padding: 0;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 88px;
}
#firstSectionContainer {
    display: flex;
    background-color: black;
    flex-direction: column;
    padding: 88px;
    color: white;
}

#navSection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 88px;
}

#titleOne {
    font-size: 3rem;
}

#navBar {
    display: flex;
    justify-content: space-evenly;
    gap: 22px;
}

a {
    color: white;
}

#headerContainer {
    display: flex;
    justify-content: space-between;
    gap: 88px;
}

#headerTextBlock {
    gap: 0px;
    max-width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#firstImg {
    max-width: 600px;
}

button {
    background-color: lightskyblue;
    border: none;
    border-radius: 3px;
    max-width: 100px;
    padding: 5px;
}

#secondSectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 52px;
    padding: 42px;
}

#titleTwo {
    font-size: 2rem;
    text-align: center;
    border: 2px solid red;
}

#imageRow {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.imageItems {
    /* padding: 0;
    margin: 0; */
    max-width: 200px;
}

.otherImgs {
    width: 200px;
    max-height: 110px;
}

.caption {
    max-width: 200px;
    text-align: center;
}